body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pattern {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #2e3440;
  min-height: 100vh;
  background-image: paint(line);
  --circle-color: #4c566a;
  --circle-radius: 10;
  --circle-amount: 20;
}
